openapi: 3.0.1
info:
  title: Chatwoot Agents Canned Responses API
  description: 'Chatwoot is an open-source customer engagement suite with a shared inbox across email, live-chat, social, and messaging channels. This specification covers the three Chatwoot API surfaces: the Application API (/api/v1/accounts/{account_id}/...) for account-scoped agent, contact, and conversation management; the Client API (/public/api/v1/inboxes/...) for building custom end-user chat widgets; and the Platform API (/platform/api/v1/...) for super-admin control of a Chatwoot installation. Application and Platform requests authenticate with an `api_access_token` HTTP header; Client requests are scoped by an inbox identifier and a contact source/pubsub identifier.'
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    name: Chatwoot Developers
    url: https://developers.chatwoot.com
  license:
    name: MIT (core) with additional Chatwoot license terms for some features
    url: https://github.com/chatwoot/chatwoot/blob/develop/LICENSE
  version: '1.0'
servers:
- url: https://app.chatwoot.com
  description: Chatwoot Cloud. For self-hosted installations, substitute your own host.
security:
- userApiKey: []
tags:
- name: Canned Responses
  description: Application API - manage saved reply templates.
paths:
  /api/v1/accounts/{account_id}/canned_responses:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      operationId: listCannedResponses
      tags:
      - Canned Responses
      summary: List canned responses.
      responses:
        '200':
          description: Array of canned responses.
    post:
      operationId: createCannedResponse
      tags:
      - Canned Responses
      summary: Create a canned response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CannedResponse'
      responses:
        '200':
          description: The created canned response.
  /api/v1/accounts/{account_id}/canned_responses/{id}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - name: id
      in: path
      required: true
      schema:
        type: integer
    patch:
      operationId: updateCannedResponse
      tags:
      - Canned Responses
      summary: Update a canned response.
      responses:
        '200':
          description: The updated canned response.
    delete:
      operationId: deleteCannedResponse
      tags:
      - Canned Responses
      summary: Delete a canned response.
      responses:
        '200':
          description: Deleted.
components:
  schemas:
    CannedResponse:
      type: object
      required:
      - short_code
      - content
      properties:
        short_code:
          type: string
        content:
          type: string
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The numeric id of the account.
      schema:
        type: integer
  securitySchemes:
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Application and Client access token passed in the `api_access_token` HTTP header. For the Application API this is an agent/user access token; Client API requests are additionally scoped by inbox and contact identifiers.
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Platform App access token passed in the `api_access_token` HTTP header. Created by a super-admin from the Chatwoot installation's Platform Apps area and required for all /platform/api/v1 endpoints.
