openapi: 3.0.1
info:
  title: Chatwoot Agents Reports API
  description: 'Chatwoot is an open-source customer engagement suite with a shared inbox across email, live-chat, social, and messaging channels. This specification covers the three Chatwoot API surfaces: the Application API (/api/v1/accounts/{account_id}/...) for account-scoped agent, contact, and conversation management; the Client API (/public/api/v1/inboxes/...) for building custom end-user chat widgets; and the Platform API (/platform/api/v1/...) for super-admin control of a Chatwoot installation. Application and Platform requests authenticate with an `api_access_token` HTTP header; Client requests are scoped by an inbox identifier and a contact source/pubsub identifier.'
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    name: Chatwoot Developers
    url: https://developers.chatwoot.com
  license:
    name: MIT (core) with additional Chatwoot license terms for some features
    url: https://github.com/chatwoot/chatwoot/blob/develop/LICENSE
  version: '1.0'
servers:
- url: https://app.chatwoot.com
  description: Chatwoot Cloud. For self-hosted installations, substitute your own host.
security:
- userApiKey: []
tags:
- name: Reports
  description: Application API - retrieve analytics and reports.
paths:
  /api/v1/accounts/{account_id}/reports:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      operationId: getReport
      tags:
      - Reports
      summary: Get a metric report over a time range.
      parameters:
      - name: metric
        in: query
        required: true
        schema:
          type: string
          enum:
          - conversations_count
          - incoming_messages_count
          - outgoing_messages_count
          - avg_first_response_time
          - avg_resolution_time
          - resolutions_count
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - account
          - agent
          - inbox
          - label
          - team
      - name: since
        in: query
        schema:
          type: string
          description: Unix epoch seconds for the start of the range.
      - name: until
        in: query
        schema:
          type: string
          description: Unix epoch seconds for the end of the range.
      responses:
        '200':
          description: Time-series data points for the requested metric.
  /api/v1/accounts/{account_id}/conversations/meta:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      operationId: getConversationReportsSummary
      tags:
      - Reports
      summary: Get a summary count of conversations by status (open, unassigned, etc.).
      responses:
        '200':
          description: Conversation count summary.
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The numeric id of the account.
      schema:
        type: integer
  securitySchemes:
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Application and Client access token passed in the `api_access_token` HTTP header. For the Application API this is an agent/user access token; Client API requests are additionally scoped by inbox and contact identifiers.
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Platform App access token passed in the `api_access_token` HTTP header. Created by a super-admin from the Chatwoot installation's Platform Apps area and required for all /platform/api/v1 endpoints.
